@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

:root {
    --primary-color: #e02d2d;
    --bg-black-color: #191919;
    --bg-white-color: #eef2f5;

    font-family: Poppins, Helvetica, sans-serif;
}

section {
    display: flex;
    flex-direction: column;
}

section h2 {
    align-self: flex-start;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 500;
}

section p {
    font-size: 14px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 1rem 2rem;

    background-color: var(--bg-black-color);
    color: var(--bg-white-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

header > h1 {
    font-size: 24px;
    font-weight: 500;
}

header > nav {
    display: none;
}

.navItem {
    text-decoration: none;
    color: var(--bg-white-color);
    margin: 0 1.5rem;
    font-weight: 500;
}

.navItem:hover {
    color: var(--primary-color);
    border-bottom: 2px solid var(--primary-color);
    transition: 0.4s;
}

#home {
    height: 700px;
    gap: 2.5rem;
    justify-content: center;
    padding: 0 2rem;

    background-image: url("./assets/luffyBlur.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#homeContent {
    display: flex;
    flex-direction: column;
}

#homeContent > h1 {
    font-size: 24px;
    font-weight: 500;
    line-height: 150%;
    margin: 0;
}

#homeContent > p {
    line-height: 150%;
    margin: 0;
    font-size: 16px;
}

.socialBtn {
    display: flex;
    align-items: center;
    gap: 0.3rem;
    background-color: var(--primary-color);
    padding: .5rem 1rem;
    width: fit-content;
    border-radius: 6px;
    color: var(--bg-white-color);
    text-decoration: none;
    transition: transform .2s;
}

.socialBtn:hover {
    transform: scale(1.05);
}

#luffyBG {
    display: none;
}

#sobre {
    background-color: var(--bg-black-color);
    color: var(--bg-white-color);

    align-items: center;
    padding: 2rem 1.5rem;
}

#sobre > img {
    width: 100%;
    border-radius: 4px;
    object-fit: cover;
    grid-area: img;
}

#sobre > h2 {
    grid-area: titulo;
}

#descricao {
    grid-area: desc;
}

#social {
    display: flex;
    gap: 1rem;
    grid-area: social;
}

#projetos {
    display: flex;
    padding: 1.5rem;
    gap: 2rem;
}

#cards {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--bg-black-color);
    color: var(--bg-white-color);
    padding: 1rem 1rem 2.25rem 1rem;
    border-radius: 4px;
    
}

.card > h3 {
    align-self: flex-start;
    margin: .75rem 0;
    font-weight: 500;
    font-size: 18px;
}

.card > p {
    margin: 0;
    font-size: 14px;
}

.card > img {
    border-radius: 4px;
    width: 100%;
}

#servicos {
    background-color: var(--bg-black-color);
    color: var(--bg-white-color);
    padding: 2rem 1rem 3rem;
}

#title1 {
    grid-area: titulo1;
}

#title2 {
    grid-area: titulo2;
}

.lista {
    padding: 0;
    display: flex;
}

.red > li {
    background-color: var(--primary-color);
    border-radius: 4px;
}

.lista > li {
    list-style: none;
    font-size: 18px;
    padding: 1rem;
    height: fit-content;
}

#listaServicos {
    flex-direction: column;
    gap: .75rem;
    grid-area: serv;
}

#listaTech {
    flex-wrap: wrap;
    gap: .75rem;
    justify-content: space-evenly;
    grid-area: tech;
}

#listaTech > li {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
    width: 4rem;
}

#contato {
    padding: 1.5rem;
}

#contato > h2 {
    margin-bottom: 0;
}

.contato {
    flex-direction: column;
}

.contato li {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding-left: 0rem;
}

.contato > li > a {
    text-decoration: none;
    color: var(--bg-black-color);
    transition: .2s;
}

.contato > li > a:hover {
    transform: scale(1.05);
}

#contato > cite {
    font-size: 24px;
}

footer {
    background-color: var(--primary-color);
}

footer > a {
    padding: 1.5rem 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-weight: 300;
    gap: .2rem;
    color: var(--bg-black-color);
    white-space: nowrap;
}

#logo {
    width: 10rem;
}